html {
  font-size: 12px !important;
}

.align-center {
  text-align: center;
  margin: 0 auto;
}

.align-center--flex-container {
  display: flex;
  justify-content: center;
}

ul ol {
  margin: 1rem 3rem;
}

ol li {
  margin: 0 !important;
}

header {
  max-width: 800px;
  padding: 2rem 2rem 0;
  border-bottom: 2px solid #444;
  margin: 0 auto;

  h1 {
    padding-bottom: 0.15rem;
    padding-bottom: 0.5rem;
  }

  ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  li {
    display: inline;
    font-size: 12px;
    list-style: none;
    padding: 0 0.5em;
  }
}

main {
  text-align: center;

  h2 {
    margin: 3rem 0 0.5rem;
  }

  ul {
    max-width: 80vw;
    margin: 0;
  }

  li {
    font-size: 1.25rem;
    margin: 0.5rem auto;
  }
}

footer {
  position: absolute;
  bottom: 0;
}

@media (max-width: 450px) {
  ul {
    max-width: 400px;
    margin-left: 10vw;
  }
}

@media (max-width: 340px) {
  header ul {
    word-wrap: break-word;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
  }
}