/********************
Fonts
********************/

@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 700;
  src: local('Bitter-Bold'), url('../fonts/Bitter/Bitter.woff2') format('woff2');
}

@font-face {
  font-family: 'Engagement';
  font-style: italic;
  font-weight: normal;
  src: local('Engagement-Regular'), url('../fonts/Engagement/Engagement.woff2') format('woff2');
}



/********************
Styles
********************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
  color: #444;
  font-family: 'Bitter', serif;
  cursor: default;
}

@media screen and (max-width: 556px) {
  // rem goes to <html>, not <body>
  html { font-size: 10px; }
}

a {
  color: #1B74B5;
  transition: color .2s;
  
  &:hover,
  &:active,
  &:focus { color: inherit; }
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 { font-size: 2.25rem; }

section {
  position: relative;
  height: 95vh;
  
  .container {
    text-align: center;
    padding-top: 14vh;
  }
}

p {
  font-style: italic;
  font-size: 12px;
  padding-left: 2rem;
}

.hidden {
  width: 0;
  height: 0;
  font-size: 0;
}

.section-link {
  // for browsers that don't support sticky positioning
  position: absolute;
  // for browsers that do
  position: sticky;
  top: 10px;
  left: 10px;
  font-size: 1.1rem;
  padding: 10px;
  
  &::before { content: "#"; }
  
  &:hover::before { content: attr(href); }
}

.fancy-y {
  position: relative;
  top: -0.066em;
  font-family: 'Engagement', serif;
  font-style: italic;
  font-weight: bold;
  margin-right: -0.05em;
  margin-left: -0.1em;
}

ul {
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.5;
  margin-top: 2rem;
  margin-left: 25vw;
}


/********************
First Section
********************/

section:nth-child(1) {
  min-height: 25rem;

  h1 {
    font-size: 6.25rem;
    margin-bottom: 0;
  }

  h2 {
    line-height: 2;
    font-size: 3.75rem;
  }

  h3 { font-size: 1.875rem; }
}
